Repository RoquesBeach/archipelago, pull requests merged in 2020-12, with the labels that each got.

#3 Fix wrangler action deploy
  .github/workflows/wrangler.yml
Labels: bug

#4 🧹 Fix wrangler deploy again
  .github/workflows/wrangler.yml
Labels: bug, complexity-low, effort-1

#5 Add starter documentation
  README.md
Labels: complexity-low, documentation, effort-2, good first issue

#6 Update the README and the John Worker
  .github/workflows/wrangler.yml
  README.md
  images/worker-limits.png
  images/wrangler-dev.png
  images/wrangler-publish.png
  packages/john/dist/worker.js
  packages/john/index.js
  packages/john/worker/script.js
Labels: complexity-medium, documentation, effort-13, enhancement, front end, new feature, social, tester

#7 Update README
  README.md
Labels: complexity-low, documentation, effort-2, enhancement

#8 Update readme and clean up js
  README.md
  packages/john/dist/worker.js
  packages/john/index.js
  packages/john/worker/script.js
Labels: complexity-low, documentation, effort-2

#11 Add Dependabot for dependency updates
  .github/dependabot.yml
Labels: complexity-medium, effort-2, enhancement

#14 Update README.md
  README.md
Labels: complexity-low, documentation, effort-1, enhancement

#19 Add doc folder
  .gitignore
  doc/.gitignore
  doc/Makefile
  doc/make.bat
  doc/source/_static/images/beach.jpg
  doc/source/conf.py
  doc/source/home.md
  doc/source/index.rst
  requirements.txt
Labels: complexity-medium, documentation, effort-5, enhancement

#20 Add surge site
  packages/cays/CNAME
  packages/cays/index.html
Labels: complexity-low, effort-2, enhancement

#21 Updates Gems and add rubycritic site. Add install shell script.
  .github/dependabot.yml
  .mdlrc
  .reek.yml
  Gemfile
  Gemfile.lock
  README.md
  install.sh
  packages/cays/assets/fonts/FontAwesome.otf
  packages/cays/assets/fonts/Roboto-Medium.ttf
  packages/cays/assets/fonts/Roboto-Regular.ttf
  packages/cays/assets/fonts/fontawesome-webfont.eot
  packages/cays/assets/fonts/fontawesome-webfont.svg
  packages/cays/assets/fonts/fontawesome-webfont.ttf
  packages/cays/assets/fonts/fontawesome-webfont.woff
  packages/cays/assets/fonts/fontawesome-webfont.woff2
  packages/cays/assets/fonts/glyphicons-halflings-regular.eot
  packages/cays/assets/fonts/glyphicons-halflings-regular.svg
  packages/cays/assets/fonts/glyphicons-halflings-regular.ttf
  packages/cays/assets/fonts/glyphicons-halflings-regular.woff
  packages/cays/assets/fonts/glyphicons-halflings-regular.woff2
  packages/cays/assets/images/logo.png
  packages/cays/assets/javascripts/application.js
  packages/cays/assets/javascripts/bootstrap.min.js
  packages/cays/assets/javascripts/highcharts.src-4.0.1.js
  packages/cays/assets/javascripts/jquery.filtertable.min.js
  packages/cays/assets/javascripts/jquery.min.js
  packages/cays/assets/javascripts/jquery.scrollTo.min.js
  packages/cays/assets/javascripts/jquery.tablesorter.js
  packages/cays/assets/javascripts/jquery.tablesorter.min.js
  packages/cays/assets/javascripts/jquery.timeago.js
  packages/cays/assets/javascripts/prettify.js
  packages/cays/assets/stylesheets/application.css
  packages/cays/assets/stylesheets/bootstrap.min.css
  packages/cays/assets/stylesheets/font-awesome.min.css
  packages/cays/assets/stylesheets/prettify.css
  packages/cays/assets/stylesheets/prettify.custom_theme.css
  packages/cays/code_index.html
  packages/cays/overview.html
  packages/cays/simple_cov_index.html
  packages/cays/smells_index.html
  requirements.txt
Labels: complexity-high, documentation, effort-8

#22 Add more gems and work on Jekyll site
  .gitignore
  404.md
  Gemfile
  Gemfile.lock
  README.md
  _config.yml
  _includes/custom-head.html
  _includes/footer.html
  _includes/google-analytics.html
  _includes/head.html
  _includes/header.html
  _includes/social.html
  _layouts/default.html
  _posts/2020-12-12.md
  _sass/minima/custom-variables.scss
  _sass/minima/initialize.scss
  _sass/minima/skins/classic.scss
  assets/css/style.scss
  assets/minima-social-icons.svg
  i
  images/obi.jpg
  images/roques_1280_x_640.jpg
  images/roques_beach.jpg
  images/roques_round.png
  lint
  lrp
  opensearch.xml
  packages/john/wd
  packages/john/wp
  server
Labels: complexity-high, dependencies, documentation, effort-8, enhancement

#23 Add missing files
  _includes/disqus_comments.html
  _layouts/home.html
  _layouts/page.html
  _layouts/post.html
  _sass/minima/_base.scss
  _sass/minima/_layout.scss
  _sass/minima/custom-styles.scss
  index.md
Labels: bug, complexity-medium, effort-3

#25 feat: Add CODEOWNERS file and work on site
  404.md
  CODEOWNERS
  README.md
  _config.yml
  _layouts/home.html
  _sass/minima/custom-styles.scss
  about.md
  assets/css/style.scss
  assets/images/el-gran-roque.jpg
  assets/images/lynx-browser-workers.png
  assets/images/obi.jpg
  assets/images/roques_1280_x_640.jpg
  assets/images/roques_beach.jpg
  assets/images/roques_round.png
  assets/images/worker-limits.png
  assets/images/wrangler-dev.png
  assets/images/wrangler-publish.png
  assets/minima-social-icons.svg
  index.md
Labels: complexity-low, effort-3, enhancement

#26 refactor: try relative path
  _includes/head.html
Labels: complexity-low, effort-1

#27 refactor: fix css path
  _includes/head.html
Labels: complexity-low, effort-1

#28 fix: site config and image display
  _config.yml
  _includes/head.html
Labels: bug, complexity-low, effort-3

#29 feat: add GitHub Actions for linting Shell, Markdown and YAML
  .github/workflows/lint.yml
  _config.yml
Labels: complexity-low, effort-2, enhancement

#30 refactor: clean up ignore file and package-lock.json
  .all-contributorsrc
  .eslintignore
  .github/workflows/lint.yml
  .gitignore
  .yamllint
  _config.yml
  markdownlint.yml
  package-lock.json
Labels: complexity-low, effort-2

#31 refactor: clean up Python Worker
  .eslintignore
  .github/workflows/lint.yml
  .gitignore
  .markdownlint.yml
  README.md
  _config.yml
  i
  languages/python/index.py
  languages/python/package-lock.json
  languages/python/package.json
  languages/python/requirements.txt
  languages/python/wd
  languages/python/webpack.config.js
  languages/python/wp
  languages/python/wrangler.toml
  lerna.json
  lrp
  package-lock.json
  packages/cays/index.html
  packages/cays/s
  packages/john/index.js
  packages/john/package-lock.json
  requirements.txt
Labels: complexity-low, effort-8

#35 feat: new Images and Random Worker
  .editorconfig
  .github/workflows/wrangler.yml
  .husky/.gitignore
  README.md
  assets/images/lerna-run-publish.png
  package-lock.json
  package.json
  packages/images/index.js
  packages/images/package-lock.json
  packages/images/package.json
  packages/images/wrangler.toml
  packages/random/index.js
  packages/random/package-lock.json
  packages/random/package.json
  packages/random/wrangler.toml
Labels: complexity-low, dependencies, documentation, effort-5, enhancement, github_actions, javascript

#36 feat(CI): add codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: complexity-low, effort-1, enhancement, github_actions
