Repository RoquesBeach/archipelago, pull requests merged in 2023-03, with the labels that each got.

#302 Wrangler deploys broken
  packages/images/wrangler.toml
  packages/john/wrangler.toml
  packages/random/wrangler.toml
Labels: good first issue

#305 Update wrangler.yml
  .github/workflows/wrangler.yml
Labels: github_actions

#306 Remove broken GIF link
  packages/john/index.js
Labels: good first issue

#307 edit English README.md
  README.md
Labels: documentation

#308 Fix path for OGP image
  packages/john/index.js
Labels: good first issue

#310 Update README.md
  README.md
Labels: documentation

#313 Add GitHub labeler
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: enhancement, good first issue

#314 Remove all contributors
  .all-contributorsrc
  README.md
Labels: documentation, repo

#315 Use ruby/setup-ruby@v1
  .github/workflows/lint.yml
Labels: good first issue
